apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: zerg-staging

resources:
  - ../../base

namePrefix: staging-

# Staging-specific patches
patches:
  # 2 instances for staging (test HA)
  - patch: |-
      - op: replace
        path: /spec/instances
        value: 2
      - op: replace
        path: /spec/storage/size
        value: 10Gi
    target:
      kind: Cluster
      name: zerg-db
