apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: arangodb-apps
  name: arangodb-apps
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
