apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: milvus-etcd
  name: milvus-etcd
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
