apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f compose.yaml -o /Users/yurikrupnik/github/nx-playground/k8s/databases/
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: milvus-etcd
  name: milvus-etcd
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: milvus-etcd
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f compose.yaml -o /Users/yurikrupnik/github/nx-playground/k8s/databases/
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: milvus-etcd
    spec:
      containers:
        - args:
            - etcd
            - -advertise-client-urls=http://127.0.0.1:2379
            - -listen-client-urls
            - http://0.0.0.0:2379
            - --data-dir
            - /etcd
          env:
            - name: ETCD_AUTO_COMPACTION_MODE
              value: revision
            - name: ETCD_AUTO_COMPACTION_RETENTION
              value: "1000"
            - name: ETCD_QUOTA_BACKEND_BYTES
              value: "4294967296"
            - name: ETCD_SNAPSHOT_COUNT
              value: "50000"
          image: quay.io/coreos/etcd:v3.5.5
          livenessProbe:
            exec:
              command:
                - etcdctl
                - endpoint
                - health
            failureThreshold: 3
            periodSeconds: 30
            timeoutSeconds: 20
          name: milvus-etcd
          volumeMounts:
            - mountPath: /etcd
              name: milvus-etcd
      restartPolicy: Always
      volumes:
        - name: milvus-etcd
          persistentVolumeClaim:
            claimName: milvus-etcd
