apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f compose.yaml -o /Users/yurikrupnik/github/nx-playground/k8s/databases/
    kompose.version: 1.37.0 (HEAD)
  labels:
    io.kompose.service: postgres
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: postgres
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -f compose.yaml -o /Users/yurikrupnik/github/nx-playground/k8s/databases/
        kompose.version: 1.37.0 (HEAD)
      labels:
        io.kompose.service: postgres
    spec:
      containers:
        - args:
            - postgres
            - -c
            - shared_buffers=512MB
            - -c
            - effective_cache_size=2GB
            - -c
            - work_mem=16MB
            - -c
            - maintenance_work_mem=128MB
            - -c
            - max_connections=200
            - -c
            - wal_buffers=16MB
            - -c
            - checkpoint_completion_target=0.9
            - -c
            - random_page_cost=1.1
            - -c
            - effective_io_concurrency=200
            - -c
            - min_wal_size=1GB
            - -c
            - max_wal_size=4GB
          env:
            - name: POSTGRES_CHECKPOINT_COMPLETION_TARGET
              value: "0.9"
            - name: POSTGRES_DB
              value: mydatabase
            - name: POSTGRES_EFFECTIVE_CACHE_SIZE
              value: 2GB
            - name: POSTGRES_EFFECTIVE_IO_CONCURRENCY
              value: "200"
            - name: POSTGRES_MAINTENANCE_WORK_MEM
              value: 128MB
            - name: POSTGRES_MAX_CONNECTIONS
              value: "200"
            - name: POSTGRES_PASSWORD
              value: mypassword
            - name: POSTGRES_RANDOM_PAGE_COST
              value: "1.1"
            - name: POSTGRES_SHARED_BUFFERS
              value: 512MB
            - name: POSTGRES_USER
              value: myuser
            - name: POSTGRES_WAL_BUFFERS
              value: 16MB
            - name: POSTGRES_WORK_MEM
              value: 16MB
          image: postgres
          name: postgres
          ports:
            - containerPort: 5432
              protocol: TCP
      restartPolicy: Always
