version: v2
managed:
  enabled: true
plugins:
  # Rust - prost for message types (prost 0.14.1/tonic 0.14.1)
  - remote: buf.build/community/neoeinstein-prost:v0.5.0
    out: ../../libs/rpc/src/gen
  # Rust - tonic for gRPC client/server (tonic 0.14.1)
  - remote: buf.build/community/neoeinstein-tonic:v0.5.0
    out: ../../libs/rpc/src/gen
inputs:
  - directory: proto
