apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: zerg

resources:
  - ../../base
  - external-secret.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: zerg-api-config
    literals:
      - PORT=8080
      - CORS_ALLOWED_ORIGIN=http://localhost:5206,https://127.0.0.1.nip.io:8443
      - REDIRECT_BASE_URL=http://localhost:5206
      - FRONTEND_URL=http://localhost:5206
      - OAUTH_AUTO_LINK_VERIFIED_EMAILS=true
      - FLAGSMITH_API_URL=http://flagsmith-api.flagsmith.svc.cluster.local:8000/api/v1
      - TASKS_SERVICE_ADDR=http://zerg-tasks.zerg.svc.cluster.local:50051
