apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: zerg

resources:
  - ../../base
  - scaledobject.yaml

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env
        value:
          - name: GRPC_HOST
            value: "0.0.0.0"
          - name: GRPC_PORT
            value: "50051"
          - name: RUST_LOG
            value: "info"
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: postgres-secret
                key: DATABASE_URL
    target:
      kind: Deployment
      name: zerg-tasks
