apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: zerg

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/env
        value:
          - name: ENVIRONMENT
            value: "Production"
          - name: RUST_LOG
            value: "info"
          - name: NATS_URL
            value: "nats://nats.dbs.svc.cluster.local:4222"
          - name: HEALTH_PORT
            value: "8081"
          # SendGrid for production
          - name: SENDGRID_API_KEY
            valueFrom:
              secretKeyRef:
                name: email-secrets
                key: sendgrid-api-key
          - name: SENDGRID_FROM_EMAIL
            valueFrom:
              secretKeyRef:
                name: email-secrets
                key: sendgrid-from-email
          - name: SENDGRID_FROM_NAME
            value: "Zerg"
    target:
      kind: Deployment
      name: zerg-email-nats
  # More replicas for production
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: zerg-email-nats
  # Increase resources for production
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            memory: "128Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
    target:
      kind: Deployment
      name: zerg-email-nats
