apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: zerg

resources:
  - ../../base
  - external-secret.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: zerg-api-config
    literals:
      - PORT=8080
      - CORS_ALLOWED_ORIGIN=https://your-production-domain.com
      - REDIRECT_BASE_URL=https://api.your-production-domain.com
      - FRONTEND_URL=https://your-production-domain.com
      - OAUTH_AUTO_LINK_VERIFIED_EMAILS=false
      - FLAGSMITH_API_URL=http://flagsmith-api.flagsmith.svc.cluster.local:8000/api/v1
      - TASKS_SERVICE_ADDR=http://zerg-tasks.zerg.svc.cluster.local:50051
