#apiVersion: storage.gcp.m.upbound.io/v1beta1
#kind: Bucket
#metadata:
#  annotations:
#    meta.upbound.io/example-id: storage/v1beta1/bucketobject
#  labels:
#    testing.upbound.io/example-name: bucket-object
#  name: yurikrupnikov-upbound-io
##  namespace: upbound-system
#spec:
#  forProvider:
#    location: US
#    storageClass: MULTI_REGIONAL
---
## ExternalSecret to pull Vault cloud credentials from GCP Secret Manager
#apiVersion: external-secrets.io/v1
#kind: ClusterExternalSecret
#metadata:
#  name: vault-cloud-credentialsa
#spec:
#  externalSecretName: manager-secrets
#  namespaceSelectors:
#    - matchLabels:
#        secrets.external-secrets.io/enabled: "true"
#  refreshTime: "1m"
#  externalSecretSpec:
#    secretStoreRef:
##      name: gcp-secret-managers
#      kind: ClusterSecretStore
#
#    refreshInterval: "1h"
#    target:
#      name: manager-secrets
#      creationPolicy: 'Owner'
##    data:
##      - remoteRef:
###      - secretKey: ai # name of the GCPSM secret key
###          version: "2"
##          key: manager-secrets
#    #          property: container-puller
#    #    dataFrom:
#    #      - key: provider-key
#    #        version: provider-key-version
#    #        property: provider-key-property
#    #  secretStoreRef:
##    name: gcp-secret-manager
##    kind: ClusterSecretStore
##  target:
##    name: vault-cloud-credentials
##    creationPolicy: Owner
##  data:
##    - secretKey: manager-secrets
##      remoteRef:
##        key: vault-gcp-credentials
#    dataFrom:
#      - extract:
#          key: manager-secrets
##          property: ai
##  data:
#    # GCP credentials (JSON stored as string in Secret Manager)
##    - secretKey: GCP_CREDENTIALS
##      remoteRef:
##        #        key: iac-manager-gcp
##        key: manager-secrets
##        property: vault-gcp-credentials
##        property: vault-gcp-credentials
#    #        property: flagsmith
#    #        dataFrom:
#    #          - extract:
#    #              key: manager-secrets
#    #              property: flagsmith
#    # AWS credentials (JSON with access_key_id and secret_access_key)
##    - secretKey: AWS_ACCESS_KEY_ID
##      remoteRef:
##        key: vault-aws-credentials
##        property: access_key_id
##    - secretKey: AWS_SECRET_ACCESS_KEY
##      remoteRef:
##        key: vault-aws-credentials
##        property: secret_key
##    - secretKey: AWS_REGION
##      remoteRef:
##        key: vault-aws-credentials
##        property: region
