name: CI
'on':
  push:
    branches:
    - main
  pull_request: {}
env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
      continue_on_error: false
    - name: Set NX SHAs
      uses: nrwl/nx-set-shas@v4
      continue_on_error: false
    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: 'true'
      continue_on_error: false
    - name: Install dependencies
      run: bun install
      continue_on_error: false
    - name: Run lint
      run: bun nx affected -t lint
      continue_on_error: false
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
      continue_on_error: false
    - name: Set NX SHAs
      uses: nrwl/nx-set-shas@v4
      continue_on_error: false
    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: 'true'
      continue_on_error: false
    - name: Install dependencies
      run: bun install
      continue_on_error: false
    - name: Run test
      run: bun nx affected -t test
      continue_on_error: false
  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
    - lint
    - test
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
      continue_on_error: false
    - name: Set NX SHAs
      uses: nrwl/nx-set-shas@v4
      continue_on_error: false
    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: 'true'
      continue_on_error: false
    - name: Install dependencies
      run: bun install
      continue_on_error: false
    - name: Run build
      run: bun nx affected -t build
      continue_on_error: false
permissions:
  actions: read
  contents: read
