name: CI
'on':
  push:
    branches:
    - main
  pull_request: {}
env:
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set NX SHAs
      uses: nrwl/nx-set-shas@v4
    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: 'true'
    - name: Install dependencies
      run: bun install
    - name: Run lint
      run: bun nx affected -t lint
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set NX SHAs
      uses: nrwl/nx-set-shas@v4
    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: 'true'
    - name: Install dependencies
      run: bun install
    - name: Run test
      run: bun nx affected -t test
  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
    - lint
    - test
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set NX SHAs
      uses: nrwl/nx-set-shas@v4
    - name: Setup mise
      uses: jdx/mise-action@v2
      with:
        experimental: 'true'
    - name: Install dependencies
      run: bun install
    - name: Run build
      run: bun nx affected -t build
permissions:
  actions: read
  contents: read
